body {
  font-family: arial, sans-serif;
  background: #ffebbb;
}

h1 {
  color: #525252;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #525252;
  font-size: 16px;
  font-weight: 200;
  height: 19px;
  line-height: 1;
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 650px;
  background: #a3dec9;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}

.active {
  cursor: default;
  color: #525252;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: #525252;
}

.units {
  position: relative;
  top: -29px;
}
.search-form {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #555555;
  max-width: 400px;
  color: #525252;
  font-size: 16px;
  font-weight: 300;
  background: #a3dec9;
}
.coded {
  font-size: 12px;
  color: #929191;
  text-align: center;
}
